/* General page styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #caecc1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main container styling */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header styling */
header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    text-align: center;
    color: #69A88E;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    margin: 0;
    padding: 10px;
    margin-left: 50px;
}

#returnButton {
    background-color: #69A88E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#returnButton:hover {
    background-color: #466d5d;
}

/* Horizontal flexbox for the three sections */
#infoContainer {
    display: flex;
    justify-content: center; /* Space sections equally */
    align-items: flex-start;
    text-align: center;
    margin: 20px;
    max-width: 1200px;
}

/* Style for each section in the flexbox */
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

/* Styling for date and location */
#locationName, #currentDate {
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: #69A88E;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Tree styling */
.tree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tree {
    position: relative;
    width: 120px;
    height: 300px;
}

.trunk {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 150px;
    background-color: #8B4513;
    border-radius: 10px;
    transform: translateX(-50%);
}

.leaves {
    position: absolute;
    background-color: #228B22;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.leaves1 {
    width: 150px;
    height: 150px;
    bottom: 130px;
}

.leaves2 {
    width: 120px;
    height: 120px;
    bottom: 180px;
}

.leaves3 {
    width: 90px;
    height: 90px;
    bottom: 220px;
}

/* Info styling */
#aqiCategory, #dominantPollutant, #pollutantSource {
    font-size: 23px;
    font-weight: bold;
    color: #69A88E;
    margin: 10px;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #69A88E;
    margin: 10px;
}

/* Health recommendation dropdown and box */
label, select, .recommendationBox {
    font-size: 20px;
    color: #69A88E;
    margin: 10px;
}

.recommendationBox {
    padding: 20px;
    background-color: white;
    color: #69A88E;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: left;
}

/* Footer styling */
footer {
    background-color: #533c2a;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
