body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #caecc1; 
}

header {
    text-align: center;
    padding: 150px;
    background-image: url("polli_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
    font-size: 80px;
    font-family: Impact, fantasy;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
}

.input-small {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded corners for the left side */
    outline: none;
    flex-grow: 1;
    padding: 10px; /* Added padding for better look */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 20px auto; /* Center the container */
    width: 300px; /* Adjust width as necessary */
    position: relative; /* For positioning the suggestion box */
}

.search-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.search-icon {
    width: 24px;
    height: 24px;
}

input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for better look */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    margin-right: 70px; /* Space between the logo and the text */
    margin-left: 100px;
}

.logo img {
    max-width: 200px; /* Adjust size as needed */
    height: auto;
}

.text-content {
    max-width: 600px; /* Adjust size as needed */
    align-items: right;
}

h2 {
    margin-top: 0;
}

footer {
    background-color: #533c2a;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}
