body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #caecc1; 
}

header {
    color: #000000;
    text-align: center;
    padding: 150px; 
    background-image: url("images/forest_image00.jpeg");
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
