body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #caecc1; 
}

header {
    text-align: center;
    padding: 100px;
    background-image: url("polli_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

h1 {
    color: #ffffff;
    font-size: 80px;
    font-family: Impact, fantasy;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
}

/* Apply basic styling */
.row {
    display: flex;
    justify-content: space-between;
}

.col-md-2,
.col-md-4,
.col-md-2 {
    margin-right: 1px;
    margin-left: 1px;
    padding: 50px;
    text-align: center;
    color: rgb(7, 62, 37);
    font-size: large;
    font-family: 'Monaco', monospace;
    font-weight: bold;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the error label */
.label-error {
    color: red;
    font-weight: normal;
}

/* Style input fields */
input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

.search button img{
    width: 16px;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
